<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="opl.launchType">
<stringAttribute key="opl.debugModel.ATTR_ELEMENT_ID" value="=sailcoR\Run Con\figu\rationsrPiecewise linea\r cost"/>
<stringAttribute key="opl.debugModel.ATTR_PROJECT" value="sailco"/>
<stringAttribute key="opl.debugModel.ATTR_RUN_CONFIG" value="Piecewise linear cost"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/sailco"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>