<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="opl.launchType">
<stringAttribute key="opl.debugModel.ATTR_ELEMENT_ID" value="=mulp\rodR\Run Con\figu\rationsrSolve p\roblem once"/>
<stringAttribute key="opl.debugModel.ATTR_PROJECT" value="mulprod"/>
<stringAttribute key="opl.debugModel.ATTR_RUN_CONFIG" value="Solve problem once"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/mulprod"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>